guideline.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:complexType name="guideline">
		<xs:attribute name="x" type="xs:decimal"/>
		<xs:attribute name="y" type="xs:decimal"/>
		<xs:attribute name="angle">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="360"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="color" type="color"/>
		<xs:attribute name="identifier" type="xs:string"/>
	</xs:complexType>
	
</xs:schema>