outline.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:complexType name="outline">
		<xs:annotation>
			<xs:documentation xml:lang="en">Outline description.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="component" type="component" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="contour" type="contour" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>