GLIF2/anchor.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:complexType name="anchor">
		<xs:attribute name="x" type="xs:decimal" use="required"/>
		<xs:attribute name="y" type="xs:decimal" use="required"/>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="color" type="color"/>
		<xs:attribute name="identifier" type="xs:string"/>
	</xs:complexType>
	
</xs:schema>