GLIF1/outline.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:complexType name="outline">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="component" type="component"/>
			<xs:element name="contour" type="contour"/>
		</xs:choice>
	</xs:complexType>
	
</xs:schema>