GLIF1/transformation.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:attributeGroup name="transformation">
		<xs:attribute name="xScale" type="xs:decimal" default="1"/>
		<xs:attribute name="xyScale" type="xs:decimal" default="0"/>
		<xs:attribute name="yxScale" type="xs:decimal" default="0"/>
		<xs:attribute name="yScale" type="xs:decimal" default="1"/>
		<xs:attribute name="xOffset" type="xs:decimal" default="0"/>
		<xs:attribute name="yOffset" type="xs:decimal" default="0"/>
	</xs:attributeGroup>
	
</xs:schema>